<div class="container">

  <mat-divider></mat-divider>

  <div class="row justify-content-center">
    <mat-card class="col-4">
      <mat-card-title>
        <h1 class="row justify-content-center">Bienvenido</h1>
      </mat-card-title>
    </mat-card>
  </div>

  <mat-divider></mat-divider>

  <div class="row">
    <div class="col-3">
      <mat-card class="col align-self-center">
        <button mat-icon-button color="primary" class="size-64">
          <mat-icon>map</mat-icon>
        </button>
        <h4>Ubicación de Maquinarias</h4>
      </mat-card>
    </div>
    <div class="col-3">
      <mat-card class="col align-self-center">
        <a routerLink="./maquinarias">
          <button mat-icon-button color="primary" class="size-64">
            <mat-icon>local_shipping</mat-icon>
          </button>
        </a>
        <h4>Maquinarias</h4>
      </mat-card>
    </div>
    <div class="col-3">
      <mat-card class="col align-self-center">
        <button mat-icon-button color="primary" class="size-64">
          <i class="fas fa-handshake"></i>
        </button>
        <h4>Arriendos</h4>
      </mat-card>
    </div>
    <div class="col-3">
      <mat-card class="col align-self-center">
        <button mat-icon-button color="primary" class="size-64">
          <mat-icon>person_pin</mat-icon>
        </button>
        <h4>Choferes</h4>
      </mat-card>
    </div>
  </div>

</div>