<div class="row">
    <div class="col-12 d-flex justify-content-between">
        <h2 mat-dialog-title>
            Editar maquina
        </h2>

        <button mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

<form #form="ngForm" (ngSubmit)="onSubmit()">

    <mat-dialog-content>
        <div *ngIf="!maquina || !empresas || !tiposMaquinas" class="row">
            <div class="col-12 justify-content-center d-flex">
                <mat-spinner></mat-spinner>
            </div>
        </div>

        <div *ngIf="maquina && empresas && tiposMaquinas" class="row">
            <mat-form-field class="col-12">
                <input matInput name="patente" [(ngModel)]="maquina.patente" required placeholder="Patente">
            </mat-form-field>

            <mat-form-field class="col-sm-12 col-md-6">
                <mat-label>Empresa</mat-label>
                <mat-select name="empresa" [(ngModel)]="maquina.empresa" required>
                    <mat-option *ngFor="let empresa of empresas" [value]="empresa._links.self.href">
                        {{ empresa.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col-sm-12 col-md-6">
                <mat-label>Tipo de máquina</mat-label>
                <mat-select name="tipoMaquina" [(ngModel)]="maquina.tipoMaquina" required>
                    <mat-option *ngFor="let tipoMaquina of tiposMaquinas" [value]="tipoMaquina._links.self.href">
                        {{ tipoMaquina.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="col-sm-12 col-md-6">
                <input matInput name="latitud" [(ngModel)]="maquina.latitud" required placeholder="Latitud">
            </mat-form-field>

            <mat-form-field class="col-sm-12 col-md-6">
                <input matInput name="longitud" [(ngModel)]="maquina.longitud" required placeholder="Longitud">
            </mat-form-field>

            <div class="col-12">
                <aol-map width="100%" height="300px" (onSingleClick)="setCoordenada($event)">
                    <aol-interaction-default></aol-interaction-default>
                    <aol-view>
                        <aol-coordinate></aol-coordinate>
                    </aol-view>
                    <aol-layer-tile>
                        <aol-source-osm></aol-source-osm>
                    </aol-layer-tile>
                    <aol-layer-vector *ngIf="maquina.latitud && maquina.longitud">
                        <aol-source-vector>
                            <aol-feature>
                                <aol-geometry-point>
                                    <aol-coordinate [x]="maquina.latitud" [y]="maquina.longitud" [srid]="'EPSG:4326'"></aol-coordinate>
                                </aol-geometry-point>
                                <aol-style>
                                    <aol-style-icon src="assets/img/icons8-tractor-48.png"></aol-style-icon>
                                </aol-style>
                            </aol-feature>
                        </aol-source-vector>
                    </aol-layer-vector>
                </aol-map>
            </div>

        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <div *ngIf="!registrando" class="col-sm-12 col-md-3 offset-sm-0 offset-md-6">
            <button class="w-100" type="submit" mat-raised-button color="primary">Actualizar</button>
        </div>

        <div *ngIf="!registrando" class="col-sm-12 col-md-3 offset-sm-0">
            <button class="w-100" mat-raised-button mat-dialog-close color="warn">Cancelar</button>
        </div>

        <div class="col-12 justify-content-center d-flex" *ngIf="registrando">
            <mat-progress-spinner diameter="48" color="primary" mode="indeterminate"></mat-progress-spinner>
        </div>
    </mat-dialog-actions>

</form>