<mat-card class="m-3 mat-elevation-z2">

    <mat-card-title>
        Máquinas
    </mat-card-title>

    <mat-card-content>

        <div *ngIf="isLoading | async" class="loading-shade">
            <mat-spinner></mat-spinner>
        </div>

        <mat-form-field class="w-100">
            <mat-placeholder>
                <mat-icon>search</mat-icon>Buscar máquina
            </mat-placeholder>
            <input matInput name="busqueda" [(ngModel)]="dataSource.filter">
        </mat-form-field>

        <table mat-table class="w-100" [dataSource]="dataSource" matSort>

            <!-- Patente -->
            <ng-container matColumnDef="patente">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Patente
                </mat-header-cell>
                <mat-cell *matCellDef="let maquina">
                    {{maquina.patente}}
                </mat-cell>
            </ng-container>

            <!-- Tipo -->
            <ng-container matColumnDef="tipo">
                <mat-header-cell *matHeaderCellDef>
                    Tipo
                </mat-header-cell>
                <mat-cell *matCellDef="let maquina">
                    <span *ngIf="(maquina._links.tipoMaquina.href | http | async); let tipoMaquina; else esperandoTipo">
                        {{tipoMaquina.nombre}}
                    </span>
                    <ng-template #esperandoTipo>
                        <mat-spinner diameter="32"></mat-spinner>
                    </ng-template>
                </mat-cell>
            </ng-container>

            <!-- Fecha de registro de la maquina -->
            <ng-container matColumnDef="fecha_registro">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    Fecha Registro
                </mat-header-cell>
                <mat-cell *matCellDef="let maquina">
                    {{ maquina.createdAt | date: 'short' : undefined : 'es-CL' }}
                </mat-cell>
            </ng-container>

            <!-- Editar -->
            <ng-container matColumnDef="edit">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let maquina">
                    <button mat-icon-button matTooltip="Editar máquina" (click)="editar(maquina)">
                        <mat-icon>settings</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <!-- Eliminar -->
            <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let maquina">
                    <button mat-icon-button matTooltip="Eliminar máquina" (click)="eliminar(maquina)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>

        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageIndex]="(page | async).pageIndex"
            [length]="(page | async).length">
        </mat-paginator>
    </mat-card-content>
</mat-card>

<div style="position: fixed; right: 20px; bottom: 20px">
    <button mat-fab color="primary" (click)="registrar()">
        <mat-icon>add</mat-icon>
    </button>
</div>