<div class="container section h-100">
    <div class="row h-100">
        <div class="col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4 align-self-sm-start align-self-md-center">
            <mat-card class="mat-elevation-z8">

                <div class="row">
                    <!--
                    <div class="col-4 offset-4">
                        <img src="../../../assets/img/logo.jpg" style="border-radius: 100%; width: 100%" />
                    </div>
                    -->
                    <div class="col-12 justify-content-center d-flex">
                        <h2 class="mat-h2">Track-Thor</h2>
                    </div>
                </div>

                <div *ngIf="incorrecto" class="section">
                    <mat-card class="mat-elevation-z2 bg-warn">
                        Usuario o Contraseña son Incorrectos.
                    </mat-card>
                </div>

                <!-- Formulario de datos para inicio de sesión -->
                <form class="section" #form="ngForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <mat-form-field class="col-12">
                            <input matInput placeholder="Usuario" [(ngModel)]="usuario.nombre" name="username" required>
                        </mat-form-field>
                        <mat-form-field class="col-12">
                            <input matInput placeholder="Contraseña" [(ngModel)]="usuario.password" type="password" name="password" required>
                        </mat-form-field>
                    </div>

                    <!-- Botón de inicio de sesión -->
                    <button *ngIf="!iniciando" type="submit" class="col-12" mat-raised-button color="primary">Ingresar</button>

                    <div *ngIf="iniciando" class="row">
                        <mat-progress-spinner class="m-auto" diameter="48" color="primary" mode="indeterminate"></mat-progress-spinner>
                    </div>
                </form>

                <div class="mt-1 mb-1">
                    <div class="col-12">
                        <mat-divider></mat-divider>
                    </div>
                </div>

                <div class="container theme-2">
                    <div class="row">
                        <button class="col-12" mat-raised-button color="primary">Recuperar contraseña</button>
                    </div>

                    <div class="row mt-1">
                        <button class="col-12" mat-raised-button color="accent" routerLink="register">Registrarse</button>
                    </div>
                </div>

            </mat-card>
        </div>
    </div>
</div>