<mat-toolbar color="primary" layout="row">
  <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
      </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="push">

      <mat-card class="mat-elevation-z0">
          <mat-card-title>
              <div class="col-8 offset-2">
                  <img class="logo" src="../../../assets/img/riosalcologo.svg" />
              </div>
              <div class="col-12">
                  <h2 class="mat-h2 text-center">Administrador</h2>
              </div>
          </mat-card-title>
      </mat-card>

      <mat-accordion>
          <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                  <mat-panel-title>
                      Home
                  </mat-panel-title>
                  <mat-panel-description>
                      <mat-icon>home</mat-icon>
                  </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-list dense>                  
                  <mat-list-item>
                      Listas de Maquinas
                  </mat-list-item>                  
              </mat-list>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                  <mat-panel-title>
                      Ubicación de maquinarias
                  </mat-panel-title>
                  <mat-panel-description>
                      <mat-icon>map</mat-icon>
                  </mat-panel-description>
              </mat-expansion-panel-header>              
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                  <mat-panel-title>
                      Usuarios
                  </mat-panel-title>
                  <mat-panel-description>
                      <mat-icon>account_circle</mat-icon>
                  </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-list dense>
                  <mat-list-item>
                      <a routerLink="./usuarios">Cuentas de Usuario</a>
                  </mat-list-item>
              </mat-list>
          </mat-expansion-panel>
      </mat-accordion>

      <div class="section">
          <mat-divider></mat-divider>
      </div>

      <button mat-raised-button class="col-12" (click)="onLogout()">Cerrar Sesión</button>
  </mat-sidenav>

  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
